#==============================================================================================
#1.PYTHON CORE & BYTECODE (Compiled files generated during runtime)
#==============================================================================================
__pycache__/
*.pyc
*.pyo
*.pyd

#==============================================================================================
#2.VIRTUAL ENVIRONMENT VARIABLES(Local dependencies and packages)
#==============================================================================================
env/
venv/
.env/
.venv/

#==============================================================================================
#3.SECURITY ENVIRONMENT VARIABLES(sensitives database configuration)
#==============================================================================================
.env
.env.local
.env.*
*.secrets
auth.json

#==============================================================================================
#4.INTIGRETED DEVELOPMENT ENVIRONMENT(IDE local configuration)
#==============================================================================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

#==============================================================================================
#5.OPERATING SYSTEM SPECIFIC FILES(Temporary OS cache)
#==============================================================================================
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store