body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 30px;

}
h1{
    text-align: center;
    color: #349ce4;
    margin-bottom: 25px;
    font-size: 40 px;
    margin-bottom: 5 px; 
    text-decoration-line:underline ;
}
h2{
    text-align: center;
    color: #8f00ff;
    margin-bottom: 25px;
    font-size: 30 px;
    margin-top: 0;
    margin-bottom: 25 px;
    text-decoration-line:underline ;
}
table{
    width: 100%;
    border: 2px solid #333333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.3);

}
.risk-high{
    color: rgba(160, 79, 7, 0.975);
    font-weight: bold;
}
.risk-critical{
    color: rgba(176, 6, 6, 0.811);
    font-weight: bold;
}
.risk-noraml{
     color: rgba(21, 169, 7, 0.614);

}
th,td{
    padding: 12px,15px;
}
tbody tr:nth-child(even){
    background-color: rgba(50,40,90,0.4);
}
tbody tr:nth-child(odd){
    background-color: rgba(30,25,60,0.4);

}
th{
    background-color: rgba(80,40,150,0.5);
    color: #e0d4ff;

}
tbody tr:hover{
     background-color:  rgba(100,60,200,0.3);
     cursor: pointer;
   
}
